.venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.coverage
.coverage.*
htmlcov/
.mypy_cache/
.pytest_cache/
.tox/
dist/
build/
*.egg-info/
.cache/
*.orig
.DS_Store
.idea/
.vscode/
